* {box-sizing: border-box;}

body {
  font-family: "Times New Roman", Times, serif;
  background: white;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8,.16fr);
  font-size: 100%;
}

/* Nav */
nav {
  grid-column: span 6;
  padding-right: 50px;
  max-height: 100px;
  box-shadow: 0 7px 2px -2px rgba(0,0,0,.1);
}

nav img {
  float: left;
  max-height: 95px;
  padding: 10px 30px;
}

nav a {
  display: block;
  color: #82592e;
  text-align: center;
  float: right;
  padding: 40px 30px;
  position:relative;
  text-decoration: none;
}

nav .active {
  background-color: #82592e;
  color: white;
}

nav a:hover {
  background-color: #82592e;
  color: white;
}

.top {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
  color: #82592e;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  text-shadow: 0 0 2px rgba(0,0,0,.2);
  padding: 50px;
}

.background {
  grid-column: 1 / 7;
  grid-row: 2 / 8;
  height: 100%;
  background: white url('pics/GoldRibbon.png') no-repeat center;
  background-size: 1200px 100%;
}

/* Footer */
.foot {
  display: inline-grid;
  grid-column: 1 / 3;
  grid-row: 8 / 9;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #a58c7a;
  background-color: #573e27;
  box-shadow: 0px -3px 5px 0px rgba(0,0,0,.1);
}

footer {
  grid-column: 3 / 7;
  grid-row: 8 / 9;
  background-color: #82592e;
  text-align: left;
  padding-left: 18px;
  color: white;
  box-shadow: 0px -3px 5px 0px rgba(0,0,0,.1);
}
