:root {
    --primary-color: #82592e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navbar */
nav {
    font-size: 1.1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

nav img {
    float: left;
    max-height: 95px;
    padding: 10px 30px;
}

nav ul {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2.5rem;
}

nav ul a {
    padding: 2.67rem 1.6rem;
}

nav a.active,
nav a:hover,
nav a:focus {
    background-color: var(--primary-color);
    color: white;
}

/* Background of About and Contact Pages */
.background {
    height: 100%;
    background: white url('pics/GoldRibbon.png') no-repeat center;
    background-size: 1000px 100%;
    box-shadow: inset 0 7px 2px -2px rgba(0,0,0,.1);

}

/* Title of About and Contact Pages */
.title {
    text-align: center;
    color: var(--primary-color);
    padding: 40px;
}

/* Footer */
footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .left {
    -ms-flex: 30%;
    flex: 30%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #a58c7a;
    background-color: #573e27;
    padding: 20px;
  }

footer .right {   
    -ms-flex: 70%;
    flex: 70%;
    background-color: var(--primary-color);
    padding: 20px;
    color: white;
  }

/* Media Queries */
@media(max-width: 700px) {
    nav {
        grid-template-columns: 1fr;
        text-align: center;
    }

    nav img {
        margin: auto;
        max-height: 150px;
        padding: 1rem 0;
        align-items: center;
    }

    nav ul {
        float: none;
        width: 100%;
        padding: .9rem;
    }

    nav ul a {
        padding: 1.2rem 1rem;
    }

    .background {
        background: none;
    }

    footer {
        margin-top: 20px;
    }

    footer .left {
        font-size: .9rem;
    }

    footer .right {
        text-align: center;
    }
}